.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}
#root {
  position: relative;
  min-height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 7rem;
}
.header-name {
  display: flex;
  justify-content: center;
}
.main-portfolio-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}
.trivia {
  background-color: rgb(76, 203, 245);
  margin: 30px;
  padding: 25px;
}
.to-do-list {
  background-color: rgb(76, 203, 245);
  margin: 30px;
  padding: 25px;
}
.tic-tac-toe {
  background-color: rgb(76, 203, 245);
  margin: 30px;
  padding: 25px;
}
.random-creations {
  background-color: rgb(76, 203, 245);
  margin: 30px;
  padding: 25px;
}
.main-footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}
.home-div {
  height: 200px;
  width: 300px;
  background-image: url("./images/picture.jpg");
  background-position: center center;
  background-size: cover;
}
.portrait {
  width: 50px;
  height: 50px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
}

@media only screen and (min-width: 600px) {
  .home-div {
    height: 300px;
    width: 450px;
    background-image: url("./images/picture.jpg");
    background-position: center center;
    background-size: cover;
  }
  .portrait {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (min-width: 750px) {
  .home-div {
    height: 400px;
    width: 600px;
    background-image: url("./images/picture.jpg");
    background-position: center center;
    background-size: cover;
  }
  .portrait {
    width: 100px;
    height: 100px;
  }
  .main-portfolio-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .home-div {
    height: 550px;
    width: 825px;
    background-image: url("./images/picture.jpg");
    background-position: center center;
    background-size: cover;
  }
  .portrait {
    width: 138px;
    height: 138px;
  }
  .trivia {
    margin: 50px;
  }
  .to-do-list {
    margin: 50px;
  }
  .tic-tac-toe {
    margin: 50px;
  }
  .random-creations {
    margin: 50px;
  }
}
@media only screen and (min-width: 1300px) {
  .home-div {
    height: 600px;
    width: 900px;
    background-image: url("./images/picture.jpg");
    background-position: center center;
    background-size: cover;
  }
  .portrait {
    width: 150px;
    height: 150px;
  }
}
