.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
#root {
  position: relative;
  min-height: 100vh;
}
.main-portfolio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}
.trivia {
  background-color: rgb(76, 203, 245);
  margin: 50px;
  padding: 25px;
}
.to-do-list {
  background-color: rgb(76, 203, 245);
  margin: 50px;
  padding: 25px;
}
.tic-tac-toe {
  background-color: rgb(76, 203, 245);
  margin: 50px;
  padding: 25px;
}
.random-creations {
  background-color: rgb(76, 203, 245);
  margin: 50px;
  padding: 25px;
}
.main-footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
